// default vars

$queries : (
    xxl : 1600,
    xl : 1400,
    lg : 1200,
    md : 992,
    sm : 768,
    xs : 480
) !default;


$gridcolumns: 12 !default;
$gaps: 40 !default; 



// Grid

.gridbox {
    display: grid;
    grid-auto-flow: dense;
}

@for $i from 1 through $gaps {
    .gap-#{$i} {
        gap: #{$i}px;
    }
}

// grid cols
@for $cols from 1 through $gridcolumns {
    .grid-col-#{$cols} {
        grid-template-columns: repeat(#{$cols}, 1fr);
    }
}

@each $querie, $size in $queries {
    @media (max-width: #{$size}px) {
        @for $cols from 1 through $gridcolumns {
            .#{$querie}-grid-col-#{$cols} {
                grid-template-columns: repeat(#{$cols}, 1fr);
            }
        }
    }
}

